<?xml version="1.0" encoding="utf-8"?>
<resources>
    <!--Fill in empty strings.-->
    <!--This file should not be committed to version control.-->
    <!--<string name="WEB_ID"></string>-->
    <!--<string name="root_url"></string>-->
</resources>